.app {
  padding: 3% 0;
  .comment-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    form {
      display: flex;
      flex-direction: column;
      width: 70%;
      textarea {
        min-height: 100px;
        margin-bottom: 15px;
      }
      .btns {
        display: flex;
        justify-content: flex-end;
        input {
          width: 15%;
          margin: 0 5px;
        }
      }
    }
  }
  .comment-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 10%;
    .item {
      position: relative;
      width: 20%;
      padding: 2%;
      margin: 5px 1.5%;
      background-color: gainsboro;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      .delete-btn {
        position: absolute;
        top: -10px;
        right: -4px;
        color: black;
        cursor: pointer;
        &::after {
          content: 'X';
          font-size: 22px;
          font-weight: 800;
        }
        &:hover {
          color: rgb(0, 214, 252);
        }
      }
    }
  }
}
